html {
  color: white;
  font-family: Verdana,Geneva,sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 750px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  background-image: linear-gradient(#11034d, #000000);
}

#play-area {
  flex-grow: 100;
  position: relative;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.3);
}

#overlay-start, #overlay-endgame {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#endgame-container {
  padding-bottom: 25px;
}

#endgame-container * {
  text-align: center;
}

#endgame-title {
  font-size: 25px;
}

.endgame-section-title {
  font-size: 20px;
}

.endgame-section {
  margin: 20px auto;
}

#msg-container {
  position: absolute;
  top: 360px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s;
}

#overlay-start {
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay-endgame {
  display: none;
}

#btn-restart {
  margin: 0 auto;
  font-size: 25px;
  padding: 4px 15px;
}

.btn-start {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-size: 40px;
  border-radius: 5px;
  padding: 7px 25px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-start:hover {
  color: #000000;
  background-color: white;
}

.word {
  position: absolute;
  font-size: 25px;
  white-space: nowrap;
}

.word.remove-animate {
  animation: word-removal 1s forwards;
}

@keyframes word-removal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-15px);
  }
}

#input-container {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 20px; 
  border-top: 1px solid white;
}

#input-container > #arrow {
  font-size: 25px;
}

#main-input {
  width: 100%;
  height: 60%;
  margin-left: 15px;
  font-size: 25px;
  color: white;
  transition: color 0.3s;
  background: transparent;
  border: none;
}

#main-input.error {
  color: red;
  animation: input-error 0.2s linear infinite;
}

@keyframes input-error {
  40% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0px);
  }
}